<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>counter</th>
      <th>price</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>200</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213685566632366080/128"></td>
    </tr>
    <tr>
      <th>13</th>
      <td>182</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/213685602753712128/128"></td>
    </tr>
    <tr>
      <th>29</th>
      <td>76</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/492222094055051264/128"></td>
    </tr>
    <tr>
      <th>28</th>
      <td>73</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/492222154968928256/128"></td>
    </tr>
    <tr>
      <th>26</th>
      <td>52</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/492222015546068992/128"></td>
    </tr>
    <tr>
      <th>19</th>
      <td>50</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213685777597468672/128"></td>
    </tr>
    <tr>
      <th>30</th>
      <td>47</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/492222169523163136/128"></td>
    </tr>
    <tr>
      <th>57</th>
      <td>29</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/491659044054896640/128"></td>
    </tr>
    <tr>
      <th>24</th>
      <td>29</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/213697929771225088/128"></td>
    </tr>
    <tr>
      <th>14</th>
      <td>24</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/213685673431928832/128"></td>
    </tr>
    <tr>
      <th>37</th>
      <td>23</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/439353863720407040/128"></td>
    </tr>
    <tr>
      <th>42</th>
      <td>22</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/439354892235051008/128"></td>
    </tr>
    <tr>
      <th>65</th>
      <td>20</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/491658087996854272/128"></td>
    </tr>
    <tr>
      <th>47</th>
      <td>15</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491659432371949568/128"></td>
    </tr>
    <tr>
      <th>18</th>
      <td>12</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213685754524602368/128"></td>
    </tr>
    <tr>
      <th>32</th>
      <td>11</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/492222081618939904/128"></td>
    </tr>
    <tr>
      <th>21</th>
      <td>10</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685802876538880/128"></td>
    </tr>
    <tr>
      <th>40</th>
      <td>10</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/439368236601970688/128"></td>
    </tr>
    <tr>
      <th>16</th>
      <td>8</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/213685706285912064/128"></td>
    </tr>
    <tr>
      <th>55</th>
      <td>8</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658432860917760/128"></td>
    </tr>
    <tr>
      <th>35</th>
      <td>7</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/492222002032021504/128"></td>
    </tr>
    <tr>
      <th>34</th>
      <td>6</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/492222057229062144/128"></td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685694894182400/128"></td>
    </tr>
    <tr>
      <th>58</th>
      <td>6</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/491658934986215424/128"></td>
    </tr>
    <tr>
      <th>38</th>
      <td>6</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/439354192453177344/128"></td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685543232344064/128"></td>
    </tr>
    <tr>
      <th>59</th>
      <td>6</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/491658341718691840/128"></td>
    </tr>
    <tr>
      <th>27</th>
      <td>6</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/492222139722633216/128"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213685355881172992/128"></td>
    </tr>
    <tr>
      <th>36</th>
      <td>6</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/492222109796274176/128"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213685337136828416/128"></td>
    </tr>
    <tr>
      <th>43</th>
      <td>5</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491659659107635200/128"></td>
    </tr>
    <tr>
      <th>39</th>
      <td>4</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/439354765093113856/128"></td>
    </tr>
    <tr>
      <th>44</th>
      <td>4</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658814265757696/128"></td>
    </tr>
    <tr>
      <th>33</th>
      <td>4</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/492222029345329152/128"></td>
    </tr>
    <tr>
      <th>31</th>
      <td>4</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/492222125197758464/128"></td>
    </tr>
    <tr>
      <th>23</th>
      <td>4</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/213684692023513088/128"></td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/213685716880723968/128"></td>
    </tr>
    <tr>
      <th>48</th>
      <td>4</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/491658216799735808/128"></td>
    </tr>
    <tr>
      <th>62</th>
      <td>3</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/491658070926036992/128"></td>
    </tr>
    <tr>
      <th>54</th>
      <td>2</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/491658542017679360/128"></td>
    </tr>
    <tr>
      <th>50</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658989239537664/128"></td>
    </tr>
    <tr>
      <th>56</th>
      <td>2</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/491659850103656448/128"></td>
    </tr>
    <tr>
      <th>53</th>
      <td>2</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/491659452705935360/128"></td>
    </tr>
    <tr>
      <th>60</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658196109234176/128"></td>
    </tr>
    <tr>
      <th>63</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491659200535990272/128"></td>
    </tr>
    <tr>
      <th>52</th>
      <td>2</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/491658488666132480/128"></td>
    </tr>
    <tr>
      <th>51</th>
      <td>2</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/491658833433726976/128"></td>
    </tr>
    <tr>
      <th>64</th>
      <td>2</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/491658678361919488/128"></td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/213684987776471040/128"></td>
    </tr>
    <tr>
      <th>49</th>
      <td>2</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/491657891464351744/128"></td>
    </tr>
    <tr>
      <th>46</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658010729385984/128"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685366643757056/128"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>5000</td>
      <td><img src="https://cdn-1.myfriends.com/213685407311728640/128"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685418808315904/128"></td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685477704732672/128"></td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685490371530752/128"></td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685533765799936/128"></td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685578783264768/128"></td>
    </tr>
    <tr>
      <th>20</th>
      <td>2</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/213685789337325568/128"></td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/213684541674491904/128"></td>
    </tr>
    <tr>
      <th>25</th>
      <td>2</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/394123362864992256/128"></td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3000</td>
      <td><img src="https://cdn-1.myfriends.com/213685328739831808/128"></td>
    </tr>
    <tr>
      <th>41</th>
      <td>2</td>
      <td>500</td>
      <td><img src="https://cdn-1.myfriends.com/439355811676819456/128"></td>
    </tr>
    <tr>
      <th>66</th>
      <td>2</td>
      <td>1000</td>
      <td><img src="https://cdn-1.myfriends.com/492232836263186432/128"></td>
    </tr>
    <tr>
      <th>61</th>
      <td>1</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491658916569026560/128"></td>
    </tr>
    <tr>
      <th>45</th>
      <td>1</td>
      <td>10000</td>
      <td><img src="https://cdn-1.myfriends.com/491657629622341632/128"></td>
    </tr>
  </tbody>
</table>